!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		= Haml::Engine.new(File.read("dev/haml/partials/_html_header.haml")).render

		%main{:role => "main"}

			%section

				%article{"data-container" => "width_948"}

					%h3.visuallyhidden The Church Formerly Known as St. Charles

					.wrap_title-1
						%svg.mod_title-1a{:viewBox => "0 0 250 26"}
							%use{"xlink:href" => "#mod_title-1a"}
						%svg.mod_title-1b{:viewBox => "0 0 252 26"}
							%use{"xlink:href" => "#mod_title-1b"}

					%p In summer 2016, ModBox plans to begin construction on a new development surrounding the former St. Charles Church in Vanier. A well-known and beloved anchor within its community, our vision for this development is to honour its heritage and explore its potential.

					%p Our goal is to provide a mixed-use project that will act as a central hub for the community. Composed of both residential and commercial elements, the former St. Charles Church and its surrounding property will include residences, workplaces, restaurants and a seasonal marketplace to its centrally-located site. We are still in the early planning stages of this project and the necessary approvals are still needed.

					%p This new site will be a destination not only for local area residents, but also for people from other communities in Ottawa and visitors to the city from around the world.

			%section

				%article{"data-container" => "width_948"}

					-# %h3.visuallyhidden What’s in a Name?

					-# .wrap_title-2
						-# %svg.mod_title-2{:viewBox => "0 0 226 26"}
							-# %use{"xlink:href" => "#mod_title-2"}

					%p Thank you to everyone who submitted naming suggestions for the new St. Charles Development. Based on your input we’ve narrowed down the selection to following three choices:

					%ul
						%li La Place St. Charles
						%li Charles on Beechwood
						%li Marche St. Charles Market

					%p And a few Honourable Mentions:

					%ul
						%li Holywood
						%li La Patente

					%p We will announce our final choice in the coming weeks.

					%p In the meantime stay up to date on the development and any events at St. Charles by subscribing to our newsletter below.

					%p.final_para Thanks and stay tuned!

					%aside#mc_embed_signup{"data-container" => "width_720"}

						%form#mc-embedded-subscribe-form.validate{:action => "//modbox.us10.list-manage.com/subscribe/post-json?u=9d04fb276b7023a982943ca3e&amp;id=ac14f0966e&c=?", :method => "get", :name => "mc-embedded-subscribe-form", :novalidate => true}

							.wrap_inputs.clearfix

								%input#mce-NAME.mce-name{:type => "text", :name => "NAME", :value => "", :placeholder => "Your name", :tabindex => "1"}

								%input#mce-EMAIL.mce-email{:type => "email", :name => "EMAIL", :value => "", :placeholder => "Your email address", :required => true, :tabindex => "2"}

								-# %input#mce-SUGGEST.mce-suggest{:type => "text", :name => "SUGGEST", :value => "", :placeholder => "The name should be...", :tabindex => "3"}

							-# %input#mce-BECAUSE.visuallyhidden{:type => "text", :name => "BECAUSE", :value => ""}

							-# %textarea#mce-TEXT.mce-text{:name => "TEXT", :value => "", :maxlength => "255", :placeholder => "Because...", :tabindex => "4"}

							-# .character_counter
								-# %span#count_remains 0
								-# %span / 255

							.wrap_footer.clearfix

								.wrap_boxes.clearfix

									%p I'm interested in:

									.wrap_checkbox-1
										%input.visuallyhidden{:id => "mce-group[1313]-1313-0", :type => "checkbox", :name => "group[1313][1]", :value => "1", :tabindex => "5"}
										%label{:for => "mce-group[1313]-1313-0"}
											%span Keeping up to date on the development
											%svg.ui_checkmark{:viewBox => "0 0 64 64"}
												%use{"xlink:href" => "#ui_checkmark"}

									.wrap_checkbox-2
										%input.visuallyhidden{:id => "mce-group[1313]-1313-1", :type => "checkbox", :name => "group[1313][2]", :value => "2", :tabindex => "6"}
										%label{:for => "mce-group[1313]-1313-1"}
											%span Sales information
											%svg.ui_checkmark{:viewBox => "0 0 64 64"}
												%use{"xlink:href" => "#ui_checkmark"}

								#do-not-remove.visuallyhidden
									%input{:type => "text", :name => "b_9d04fb276b7023a982943ca3e_ac14f0966e", :value => "", :tabindex => "-1"}

								-# %button#mc-embedded-subscribe.button{:type => "submit", :value => "Send Your Idea", :name => "subscribe", :tabindex => "7"}
									-# %svg.mod_send{:viewBox => "0 0 164 16"}
										-# %use{"xlink:href" => "#mod_send"}

								%button#mc-embedded-subscribe.button{:type => "submit", :value => "Submit", :name => "subscribe", :tabindex => "7"}
									%svg.mod_submit{:viewBox => "0 0 74 16"}
										%use{"xlink:href" => "#mod_submit"}

							%aside#overlay{"data-overlay" => "inactive"}
								#overlay_modal.overlay_modal
									.wrap_response
										%h4#mce-response-text
										%a#close{:href => "#", :title => "Close Window"} Close

		= Haml::Engine.new(File.read("dev/haml/partials/_html_footer.haml")).render