// ==|== primary styles =======================================================
// ============================================================================

// Foundation
// ----------------------------------------------------------------------------
html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'adelle', Georgia,Times, 'Times New Roman', serif;
	color: $hsla_brown;
}
html {
	min-height: 100%;
}
body {
	position: relative;
	text-align: center;
}
::selection {
	color: $hsla_L100;
	background-color: $hsla_blue;
}
::-webkit-input-placeholder {
	color: $hsla_L42;
}
::-moz-placeholder {
	color: $hsla_L42;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $hsla_L42;
}

// Transitions
// ----------------------------------------------------------------------------
a,
label,
input,
button,
textarea,
div[class^="wrap_checkbox"] label::before {
	transition: all 0.3s ease-in-out;
}
svg {
	transition: fill 0.3s ease-in-out;
}
// --- Animations --- \\
@keyframes animShow {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes animHide {
	0%   { opacity: 1; left: 0; }
	99%  { opacity: 0; left: 0; }
	100% { opacity: 0; left: -200%; }
}
@keyframes anim360 {
	to {
		transform: rotate(360deg);
	}
}
// --- FOUT --- \\
html:not(.ie9) header,
html:not(.ie9) main,
html:not(.ie9) footer {
	opacity: 0; // begin by setting opacity to 0
	animation: animShow 0.6s ease-in-out 0.2s forwards;
}

// Forms
// ----------------------------------------------------------------------------
textarea,
input[type="text"],
input[type="email"] {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
	width: 100%;
	font-size: 1.6rem;
	color: $hsla_L5;
	border-radius: 0.8rem;
	border: 0.2rem solid $hsla_L86;
	// box-shadow: inset 0 0 0 0.2rem $hsla_L86;
	-webkit-appearance: none; // prevent iOS inset shadow
	   -moz-appearance: none; // prevent iOS inset shadow
			appearance: none; // prevent iOS inset shadow
	box-shadow: none; // prevent iOS inset shadow
}
textarea {
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	height: 19.6rem;
}
input[type="text"],
input[type="email"] {
	height: 4.8rem;
}
input[type="text"]:focus,
input[type="email"]:focus {
	border-color: $hsla_L66;
	// box-shadow: inset 0 0 0 0.2rem $hsla_L66;
}
// --- Checkbox --- \\
div[class^="wrap_checkbox"] {
	display: table;
	margin: 0 auto;
}
div[class^="wrap_checkbox"] label {
	cursor: pointer;
	display: block;
	position: relative;
	padding-left: 3.6rem;
	text-align: left;
	color: $hsla_L42;
}
div[class^="wrap_checkbox"] label::before {
	content: " ";
	display: block;
	position: absolute;
	top: -0.3rem;
	left: 0;
	width: 2.2rem;
	height: 2.2rem;
	background-color: $hsla_L100;
	border: 0.2rem solid $hsla_L86;
	border-radius: 0.5rem;
}
div[class^="wrap_checkbox"] label span {
	display: block;
	line-height: 1.4;
}
div[class^="wrap_checkbox"] label svg {
	position: absolute;
	top: 0.1rem;
	left: 0.4rem;
	width: 1.4rem;
	height: 1.4rem;
	fill: $hsla_L100;
}
// + interaction + \\
div[class^="wrap_checkbox"]:hover label,
div[class^="wrap_checkbox"] input[type="checkbox"]:focus + label {
	color: $hsla_L22;
}
div[class^="wrap_checkbox"]:hover label::before,
div[class^="wrap_checkbox"] input[type="checkbox"]:focus + label::before {
	border-color: $hsla_L66;
}
div[class^="wrap_checkbox"]:active label {
	opacity: 0.7;
}
input[type="checkbox"]:checked + label::before {
	background-color: $hsla_blue;
	border-color: $hsla_blue !important;
}

// General Styles
// ----------------------------------------------------------------------------
// --- Containers --- \\
[data-container] {
	margin-left: auto;
	margin-right: auto;
}
[data-container="width_948"] {
	max-width: 94.8rem;
}
[data-container="width_720"] {
	max-width: 72rem;
}
[data-container="width_490"] {
	max-width: 49rem;
}
[data-container="width_420"] {
	max-width: 42rem;
}
// --- SVGs --- \\
#svgInject {
	display: none;
	visibility: hidden;
}
.wrap_svg {
	display: block;
}
.wrap_svg svg {
	width: 100%;
	height: 100%;
}
svg.svg_inline {
	display: inline; // [viewBox] attribute selector does not work in webkit
}
// + buttons + \\
.button {
	display: block;
	margin: 0 auto;
	width: 22rem;
	height: 5.8rem;
	text-align: center;
	color: $hsla_L100;
	border: 0.2rem solid $hsla_L5;
	border-radius: 1rem;
}
.button svg {
	margin: auto;
	width: 16.4rem;
	height: 1.6rem;
}
.button:hover,
button.button:focus {
	border-color: $hsla_blue;
}
.button:hover svg,
button.button:focus svg {
	fill: $hsla_blue;
}
.button:active {
	border-color: $hsla_blue-D;
}
.button:active svg {
	fill: $hsla_blue-D;
}
// --- Overlay & Modal --- \\
// created and added (also destroyed) to DOM via JS
// opacity applied via JS | transition via CSS
[data-overlay] {
	position: fixed;
	z-index: 900;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0,0%,0%,0.8);
}
[data-overlay="active"] {
	left: 0;
	animation: animShow 0.4s ease-in-out;
}
[data-overlay="inactive"] {
	left: -200%;
	animation: animHide 0.4s ease-in-out forwards;
}
.overlay_modal {
	position: absolute;
	z-index: 901;
	top: 0;
	right: 1.6rem;
	bottom: 0;
	left: 1.6rem;
	margin: auto;
	max-width: 32rem;
	padding: 0 2rem;
	height: 28rem;
	background-color: $hsla_L100;
	border-radius: 1rem;
}


// ==|== sections =============================================================
// ============================================================================

// Header
// ----------------------------------------------------------------------------
header {
	display: table;
	table-layout: fixed;
	padding: 0 1.6rem;
	width: 100%;
	height: 100vh;
	background-color: $hsla_L5;
	background-image: url('../img/church.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
header div.wrap_viewport {
	display: table-cell;
	vertical-align: middle;
}
header div.wrap_viewport img {
	position: absolute;
	top: 4rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 6.9rem;
	height: 7.1rem;
}
header div.wrap_viewport div.wrap_svg {
	margin: 8rem auto 0 auto;
	max-width: 32rem;
	fill: $hsla_L100;
}

// Articles
// ----------------------------------------------------------------------------
main {
	position: relative;
	z-index: 2;
}
section {
	padding: 6rem 1.6rem 4.8rem 1.6rem;
	border-bottom: 0.1rem solid $hsla_L78;
}
section article > div {
	margin-bottom: 4rem;
}
section article > div svg {
	margin: 0 auto;
	fill: $hsla_brown;
}
section article p {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	line-height: 1.6;
}
section article p:last-child {
	margin-bottom: 0;
}
// --- SVG Titles --- \\
section article div.wrap_title-1 svg.mod_title-1a {
	margin-bottom: 0.6rem;
	width: 25rem;
	height: 2.6rem;
}
section article div.wrap_title-1 svg.mod_title-1b {
	width: 25.2rem;
	height: 2.6rem;
}
section article div.wrap_title-2 svg.mod_title-2 {
	width: 22.6rem;
	height: 2.6rem;
}

// Form
// ----------------------------------------------------------------------------
form {
	margin-top: 6rem;
}
form textarea,
form div.wrap_inputs input.mce-suggest {
	border-color: $hsla_blue;
	// box-shadow: inset 0 0 0 0.2rem $hsla_blue;
}
form textarea:focus,
form div.wrap_inputs input.mce-suggest:focus {
	border-color: $hsla_blue-D;
	// box-shadow: inset 0 0 0 0.2rem $hsla_blue-D;
}
form div.wrap_inputs input.mce-email.error,
form div.wrap_inputs input.mce-suggest.error {
	border-color: $hsla_red;
	// box-shadow: inset 0 0 0 0.2rem $hsla_red;
}
form textarea,
form div.wrap_inputs,
form div.wrap_inputs input.mce-name,
form div.wrap_inputs input.mce-email,
form div.wrap_boxes div.wrap_checkbox-1 {
	margin-bottom: 2rem;
}
form div.character_counter,
form div.wrap_boxes p {
	margin-bottom: 3.2rem;
}
form div.wrap_boxes {
	margin-bottom: 4.2rem;
}
form div.wrap_boxes p {
	color: $hsla_L42;
}
form div.wrap_boxes p,
form div.wrap_boxes label {
	font-size: 1.4rem;
	font-style: italic;
	line-height: 1.2;
}
form div.wrap_boxes div[class^="wrap_checkbox"] {
	display: block;
	width: 16.8rem;
}
form div.wrap_boxes div.wrap_checkbox-1 label span {
	transform: translateY(-0.2rem);
}
form div.character_counter span {
	font-size: 1.2rem;
}
// + mailchimp response + \\
.wrap_response {
	position: relative;
	z-index: 902;
	top: 50%;
	transform: translateY(-50%);
}
.wrap_response h4 {
	margin-bottom: 3.2rem;
	font-size: 1.8rem;
	line-height: 1.4;
}
.wrap_response a {
	display: inline-block;
	padding: 1rem 3.2rem;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	color: $hsla_L100;
	background-color: $hsla_blue;
	border-radius: 0.6rem;
}
.wrap_response a:hover {
	background-color: $hsla_L42;
}
.wrap_response a:active {
	background-color: $hsla_L22;
}

// Footer
// ----------------------------------------------------------------------------
footer {
	position: relative;
	z-index: 1;
	padding: 6rem 1.6rem;
}
footer [data-container] p {
	margin-bottom: 8rem;
	font-size: 1.8rem;
	line-height: 1.4;
}
footer [data-container] a {
	display: block;
	margin: 0 auto;
}
footer [data-container] a:hover {
	opacity: 0.8;
}
footer [data-container] a:active {
	opacity: 1;
}
footer [data-container] > a {
	margin-bottom: 6rem;
	width: 12.8rem;
}
// --- Partners --- \\
div.partners div h6 {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	line-height: 1.2;
	color: $hsla_L42;
}
div.partners div.col-1 {
	margin-bottom: 6rem;
}
div.partners div.col-1 a {
	width: 10.7rem;
}
div.partners div.col-2 a {
	width: 9.1rem;
}