%header

	.wrap_viewport

		%h1.visuallyhidden Modbox
		%h2.visuallyhidden Coming to Beechwood Village, a new development by Modbox.

		%img{:src => "assets/img/modbox.png", :alt => "Modbox"}

		.wrap_svg
			%svg.mod_intro.svg_inline{:viewBox => "0 0 414 138"}
				%use{"xlink:href" => "#mod_intro"}